<span id={{ section.settings.marker_id }}></span>

{% schema %}
  {
    "name": "Position Marker",
    "settings": [
      {
        "type": "text",
        "id": "marker_id",
        "label": "Marker ID"
      }
    ],
    "presets": [
      {
        "name": "Position Marker"
      }
    ]
  }
{% endschema %}