<div class="section section_plasticProblem desktop" >
  <div class="plasticProblem_upwrap">
    <h2>The Plastic Problem Yes, it's real...</h2>
    <div class="plasticProblem_wrapp">
      <div class="plasticProblem-item plasticProblem-item_mobile">
        <img src="{{ 'Alert_Circle.svg' | asset_url  }}" alt="">
        50% of plastic is used once, then tossed away.
      </div>
      <div class="plasticProblem-item">
        <img src="{{ 'Alert_Circle.svg' | asset_url  }}" alt="">
        Plastic sticks around for 450 years <img class="long__arrow" src="{{ 'long_arrow.svg' | asset_url  }}"> forever.
      </div>
      <div class="plasticProblem-item plasticProblem-item_mobile">
        <img src="{{ 'Alert_Circle.svg' | asset_url  }}" alt="">
        By 2050, there will be more plastic than fish in our oceans.
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner Plastic Problem",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
