.c4m-main-product_block-root[data-block-type="product-rating"] {
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.6rem;
  color: rgba(var(--color-foreground),.75);
  list-style: none;
  box-sizing: inherit;
  margin-top: 0;
}

[data-block-type="product-rating"] .product-rating__star {
  --color-icon: rgb(var(--color-base-text));
  --percent: calc( ( var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size))) ) * 100% );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
  --letter-spacing: .8;
  --font-size: 1.7;
  --rating: 4;
  --rating-max: 5.0;
  --rating-decimal: 0.5;
}
[data-block-type="product-rating"] .product-rating__star:before {
  content: "\2605\2605\2605\2605\2605";
  background: linear-gradient(90deg,var(--color-icon) var(--percent),rgba(var(--color-foreground),.15) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[data-block-type="product-rating"] p {
  display: inline-block;
  letter-spacing: .07rem;
  line-height: calc(1 + .7 / var(--font-body-scale));
  font-size: 1.2rem;
}
[data-block-type="product-rating"] .product-rating__star-caption {
  display: none;
}
[data-block-type="product-rating"] .product-rating__count {
  margin: 0;
}
[data-block-type="product-rating"] .product-rating__text {
}
