@font-face {
/*   font-family: AvertaCY; */
  font-weight: 400;
  src: url("Averta_Cyrillic_Regular.otf") format("opentype");
}
@font-face {
/*   font-family: KlarheitKurrent; */
  font-weight: 400;
  src: url("KlarheitKurrent-Regular.otf") format("opentype");
}
.index {
    overflow: auto !important;
    position: static !important;
}
.btn__arrow{
	padding: 17px 36px 17px 24px;
  	width: 160px;
  	display: flex;
  	flex-wrap: wrap;
  	background: #3AB8F1 url(arrow_btn.svg) no-repeat  124px center;
	border-radius: 6px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    align-items: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
/*     font-family: 'AvertaCY'; */
  	margin: 25px 0 0;
}

.btn__arrowdf{
	padding: 17px 36px 17px 24px;
  	border: 1px solid #2E3054;
  	width: 160px;
  	display: flex;
  	flex-wrap: wrap;
  	background: #fff url(arrow_df_btn.svg) no-repeat  124px center;
	border-radius: 6px;
    height: 52px;
    line-height: 52px;
    color: #2E3054;
    align-items: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
/*     font-family: 'AvertaCY'; */
  	margin: 50px 0 0;
}
.btn__arrowdf:hover
{
	color: #3AB8F1;
    border: 1px solid #3AB8F1 ;
	background: #fff url(https://cdn.shopify.com/s/files/1/2609/5282/files/Arrow_-_Right_1.svg?v=1635872950) no-repeat  124px center;
}
.btn__arrow:hover{

  background-color:  #2E3054;

}

.btn__arrowgreen{
	padding: 17px 36px 17px 24px;
  	width: 160px;
  	display: flex;
  	flex-wrap: wrap;
  	background: #77D3AF url(arrow_btn.svg) no-repeat  124px center;
	border-radius: 6px;
    height: 52px;
    line-height: 52px;
    color: #fff !important;
    align-items: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
/*     font-family: 'AvertaCY'; */
  	margin: 0;
}
.btn__arrowgreen:hover{
	color: #fff;
  background: #59B692 url(https://cdn.shopify.com/s/files/1/2609/5282/files/Arrow_-_Right.svg?v=1635872950) no-repeat  124px center;
}

.homepage_featured-collection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  	width: 100%;
}

.featured-promotions .feature-section {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}
.shopify-section--image-with-text .image-with-text-container {
  padding: 30px 0;
}

.purchase-details button.add_to_cart {
  	border-radius: 4px;
    background: #fff url(cart_bg_btn.svg) no-repeat 15px center;
    color: #2e3054;
    border: 1px solid #2e3054!important;
    width: 150px;
    padding: 0px 0 0px 20px;
    height: 40px;
    white-space: nowrap;
    font-size: 16px;
/*     font-family: AvertaCY; */
    font-weight: 400;
    line-height: 36px;
    margin-left: auto;
    letter-spacing: .04em;
}
.purchase-details button.add_to_cart:hover{
	background: #fff url(cart_bg_btn.svg) no-repeat 15px center;
  	border: 1px solid #3AB8F1!important;
  	color: #2e3054;
}
.add_to_cart:hover{
background: #3AB8F1 url(https://cdn.shopify.com/s/files/1/2609/5282/files/Shopping_Bag.svg?v=1635872831) no-repeat 15px center !important;
  color: #fff !important;
 
}
.like__btn_cart svg{
  height: 20px;
  transition: all .4s ease;
}
.like__btn_cart:hover{
background: #3AB8F1!important;
  border-color: #3ab8f1;
 
}
.like__btn_cart .cls-1 {
  fill: #2e3054;
  transition: all .4s ease;
}
.like__btn_cart:hover .cls-1 {
  fill: #fff;
}
.cbundle.bundle_btn:hover{
	border: 1px solid #3AB8F1!important;
  	background: #3AB8F1;
  	color: #fff;
}

.home_slider .swiper-slide.swiper-slide-prev,.home_slider .swiper-slide.swiper-slide-next,.home_slider .swiper-slide{
	opacity: 0 !important;
}
.home_slider .swiper-slide.swiper-slide-visible.swiper-slide-active{
	opacity: 1 !important;
}
.home_slider .swiper-horizontal>.swiper-pagination-bullets,.home_slider .swiper-pagination-bullets.swiper-pagination-horizontal,.home_slider .swiper-pagination-custom,.home_slider .swiper-pagination-fraction{
	position: unset;
    text-align: left;
  	margin-top: 45px;
}
.home_slider .swiper-pagination-new{
/* 	font-family: AvertaCY; */
  	color:#7F8F9E
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
      padding: 0;
  margin: 0 6px;
  background: none;
  cursor: pointer;
}
.home_slider .swiper-pagination-new:hover,.home_slider .swiper-pagination-new.swiper-pagination-new-active{
	
  	border-bottom: 1px solid #94CC00;
}
.product-form__buynow {
	display: none!important;
}

.newsletter-alert {
	position: fixed;
    z-index: 1000;
    background-color: #3ab8f1;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    margin: 0 auto;
    padding: 40px 30px;
    top: 20%;
    transform: translate(-50%);
    left: 50%;
    text-align: center;
    transition: all .3s;
    text-transform: capitalize;
/*     font-family: AvertaCY; */
    border-radius: 6px;
}
#image-slider.top_right{
	position: absolute;
    right: 0;
    top: 0;
  	max-width: 900px;
  	    max-height: 600px;
    width: auto;
}
#image-slider.bottom_right{
	position: absolute;
    right: 0;
    bottom: 0;
  	max-width: 900px;
  	    max-height: 600px;
    width: auto;
}

.blue-swatch label{
	background-color: #A3CBF1 !important;
}

.logo__footer-img{
    margin: 0 auto 40px;
    display: block;
}

.newsletter .mycustom .input-group-prepend {
    right: 0px!important;
}

.newsletter .newsletter-button {
    height: 24px;
    padding: 0;
    width: 24px;
}

.newsletter .newsletter-button img {
    height: 24px;
    width: 24px !important;
}

.featured-promotions .image-element__wrap{
	margin-top: 15px;
}

/* product css */


.product h1{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	font-size: 26px;
  	margin-bottom: 16px;
  	text-transform: capitalize;
  	display: flex;
    align-items: center;
}
.product .modal_price{
	display: none;
}
.product .product__desc .product-rating{
	margin-bottom: 24px;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 24px;
  	outline: 0!important;
  	display: flex;
    align-items: center;
    font-size: 20px;
}
.product .product__desc .product-rating i.loox-icon{
	color: #FFDC64;
}
.product .product__desc .product-rating span{
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.product-rating {
  	outline: 0!important;
}
.product .product__desc p{
/* 	font-family: AvertaCY; */
  	font-size: 14px;
	line-height: 20px;
  	margin: 0;
  	color: #7F8F9E;
}
.product .product__images{
	max-width: 552px;
	margin: 0 !important;
  	width: 100%;
}
.product .product__desc{
	margin: 0;
    max-width: 480px;
    margin-left: 96px;
  	width: 100%;
}
a.new-banner-desktop {
    position: absolute;
    max-width: 900px;
    max-height: 600px;
    width: auto;
    z-index: 100;
}

a.new-banner-desktop.bottom_right {
    right: 0;
    bottom: 0;
}
a.new-banner-desktop.top_right {
    right: 0;
    top: 0;
}
a.new-banner-desktop.bottom_left {
    left: 0;
    bottom: 0;
}
a.new-banner-desktop.top_left {
    left: 0;
    top: 0;
}
.product .inc_imgs{
	text-align: center;
  	min-width: 80px;
}
.product .inc_imgs p{
/* 	font-family: AvertaCY; */
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 auto;
    color: #2e3054;
    text-align: center;
}

.product .Included_title{
/* 	font-family: AvertaCY; */
  	font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  	margin-bottom: 12px;
}
.product .product_section .container .column, .product .product_section .container .columns{
	margin: 0;
  	width: 100%;
}

.product_gallery_nav .gallery-cell {
    width: 126px;
    height: 126px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.product_gallery_nav .gallery-cell.is-nav-selected{
	border: 1px solid #3AB8F1;
}

#shopify-section-banner__morethen{
	background: #F7F9FC url('morethan_bg.png') no-repeat right center;
    padding: 162px 156px;
}

#shopify-section-banner__morethen h1{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 60px;
  	text-transform: capitalize;
  	font-size: 48px;
}

.morethen_wrapp{
	display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}

.morethen-item{
	width: 50%;
  	margin: 0 0 15px;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	font-size: 18px;
  	font-weight: 600;
/*   	font-family: AvertaCY; */
}
.morethen-item img{
	margin-right: 10px;
}

#shopify-section-banner_plasticProblem{
  	background: #F7F9FC;
}
#shopify-section-banner_plasticProblem h1{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 60px;
  	text-transform: capitalize;
  	font-size: 48px;
  	letter-spacing: -0.02em;
    line-height: 66px;
}
.section_plasticProblem{
  	 padding: 143px 0;
	background: url('plastic_probBg.png') no-repeat left bottom;
}
.plasticProblem_upwrap{
	max-width: 500px;
    margin-left: auto;
    margin-right: 15%;
}
.plasticProblem-item{
	margin: 0 0 15px;
  	display: flex;
  	flex-wrap: nowrap;
  	align-items: center;
  	font-size: 16px;
  	font-weight: 600;
/*   	font-family: AvertaCY; */
  	line-height: 28px;
}
.plasticProblem-item img{
	margin-right: 10px;
}

.long__arrow{
	margin: 0 10px;
}

.tab__content_wrapp{
	margin-bottom: 80px;
}
.tab__content_wrapp:last-child{
	margin-bottom: 0;
}
.tab__content_wrapp h2{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 40px;
  	text-transform: capitalize;
  	font-size: 32px;
  	line-height: 48px;
  	margin-top: 0;
  	letter-spacing: -0.02em;
}
.tab__content_wrapp > p{
    font-size: 14px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	line-height: 24px;
  	color: #7F8F9E;
  	margin-bottom: 40px;
  	letter-spacing: 0;
}
.tab__content_wrapp > img{
	width: 100%;
}

.model_variats-radio{
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
/*   font-family: AvertaCY; */
}
.model_variats-radio input[type=radio]{
	display: none;
}
.model_variats-radio span{
	width: 21px;
  	height: 21px;
  	border: 1px solid #F4F4F4;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	background: #fff;
  	border-radius: 50%;
  	transition: all 0.4s;
  	transition: border 0s;
  	margin-right: 10px;
}
.model_variats-radio input[type=radio]:checked + span{
  	border: 1px solid #3AB8F1;
}
.model_variats-radio input[type=radio]:checked + span:before{
  content: '';
  width: 9px;
  height: 9px;
  display: flex;
  background: #3AB8F1;
  border-radius: 50%;
}

.model_variats-wrapp{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
  	background: rgb(242, 247, 255);
}

.model_variats_option-item{
	display: none;
}
.model_variats_option-item.active{
	display: block;
}
.model_variats-left{
	width: 45%;
  	padding: 40px 28px;
}
.model_variats-right{
	width: 55%;
  	min-height: 520px;
 	background: #D8EBFB;
}
.model_variats-right img{
	width: 100%;
  	height: 100%;
  	display: none;
}
.model_variats-right img.active{
	display: block;
}
.model_variats-wrapp form{
	height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.model_variats-wrapp h5{
  font-size: 16px;
  font-weight: 600;
/*   font-family: AvertaCY; */
  text-transform: capitalize;
}

.green__btn_cart{
	width: 288px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #77d3af;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	color: #fff;
    margin-top: auto;
}
.green__btn_cart:hover{
	background: #59b692;
}
.green__btn_cart i{
	display: flex;
  	margin-right: 8px;
}
.title-accordion{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 60px;
  	text-transform: capitalize;
  	font-size: 32px;
  	margin-top: 110px;
   text-align: center;
}
.accordion .accordion-item {
  padding: 26px 32px;
  transition: all 0.4s;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-sizing: border-box;
  border-radius: 6px;
}

.accordion .accordion-item:not(:last-child) {
  margin-bottom: 16px;
}

.accordion .accordion-item[aria-open=true]{
	padding-bottom: 40px;
  	border: 1px solid #2E3054;
  	border-radius: 6px;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0;
  color: #2E3054;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  padding: 0 168px 0 0;
  min-height: 32px;
}

.accordion button[aria-expanded=true] {
  padding: 0 168px 20px 0;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;

}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;

}
.accordion button .accordion-title {
   	font-size: 16px;
    font-weight: 600;
/*     font-family: AvertaCY; */
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #F4F4F4; 
  border-radius: 50%;
  transition: all 0.4s;
}
.accordion button[aria-expanded=true] .icon{
	background: #77D3AF;
}
.accordion button .icon::before {
  	display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(0,-50%);
    left: 50%;
    margin-left: -7px;
    width: 12px;
    height: 2px;
    background: #000;
}
.accordion button .icon::after {
 	display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(0, -50%);
    right: 50%;
    margin-left: -1px;
    width: 2px;
    height: 11px;
    background: #000;
}
.accordion button[aria-expanded=true] {
  
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] .icon::before {
  background: #fff;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  overflow-y: auto;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  padding-right: 168px;
}
.accordion .accordion-content p {

  color: #7F8F9E
  font-size: 14px;
  font-weight: 400;
/*   font-family: AvertaCY; */
}

.benefits_slide{
	padding: 24px 16px;
  	background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(6px);
	border-radius: 8px;
  	width: 200px;
  	overflow: hidden;
  	position: absolute;
  	left: 5%;
  	top: 25%;
  	transition: all 0.4s;
}
.benefits_slide h3{
	color: #2E3054;
  	font-size: 16px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	display: flex;
    align-items: center;
}
.benefits_slide h3 img{
	margin-right: 8px;
}
.benefits_slide p{
	color: #7F8F9E;
  	font-size: 14px;
    font-weight: 400;
/*     font-family: AvertaCY; */
}
.benefits_control {
	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
  	justify-content: space-between;
}
.benefits_control div{
	display: flex;
  	width: 20%;
  	flex-wrap: wrap;
}
.benefits_control .benefits_prev[control-hide=true]{
	display: none;
}
.benefits_control .benefits_next,.benefits_control .benefits_prev{
	color: #3AB8F1;
  	font-size: 14px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	display: flex;
  	width: 40%;
  	justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  	cursor: pointer;
}
.circle_arrow-right, .circle_arrow-left{
	font-size: 16px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    background: #3ab8f1;
/*     font-family: sans-serif; */
    font-weight: 700;
}
.select__form-product{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  	margin-bottom: 24px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 24px;
}
.select__form-product input{
	display: none;
}
.select__form-product img{
    width: 52px;
    object-fit: cover;
    object-position: center;
    height: 54px;
    margin-left: 12px;
}
.select__form-product h6{
	font-size: 14px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	margin: 0;
  	padding: 0;
}
.select__form-product .select__form-product-radio-price{
	font-size: 14px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	margin: 0;
  	padding: 0;
}
.select__form-product label{
	margin-right: 16px;
  	cursor: pointer;
}
.select__form-product label, .select__form-product-radio{
	max-width: 240px;
    display: flex;
    flex-wrap: wrap;
 	min-width: 168px;
    min-height: 56px;
}
.select__form-product-radio{
	border: 1px solid #F4F4F4;
  	border-radius: 6px;
  	overflow: hidden;
  	padding-right: 5px;
  	position: relative;
}

.product .crossed-out {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    object-fit: fill;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 0
}

.select__form-product .select__form-product-radio.disabled {
	border: 1px solid #f4f4f4 !important;
  	pointer-events: none;
}

.select__form-product .select__form-product-radio:hover{
	border: 1px solid #3AB8F1;
}

.select__form-product input:checked + .select__form-product-radio {
	border: 1px solid #3AB8F1;
  	background: rgba(58, 184, 241, 0.05);
}
.select__form-product-radio .select__form-product-radio-left{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 12px;
}
.select__form-product-radio .select__form-product-radio-right{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.purchase-details-new{
	margin-top: 32px;
      display: flex;
	justify-content: space-between;
}
.purchase-details-new .product-quantity-box{
	max-width: 168px;
}

.purchase-details-new .product-quantity-box .product-plus,.purchase-details-new .product-quantity-box .product-minus{
	background: #F4F4F4;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    height: 52px;
    display: block;
    width: 52px;
    text-align: center;
    float: left;
  	border: none;
}
.purchase-details-new .product-quantity-box .product-minus{
	border-radius: 6px 0 0 6px;
  	background: url('Minus.svg') #F4F4F4 no-repeat center center;
}

.purchase-details-new .product-quantity-box .product-plus:hover,.purchase-details-new .product-quantity-box .product-minus:hover{
	background-color: #F1F1F1;
}

.purchase-details-new .product-quantity-box .product-minus i{
	opacity: 0.3;
}
.purchase-details-new .product-quantity-box .product-plus{
	border-radius: 0 6px 6px 0;
  	background: url('Plus.svg') #F4F4F4 no-repeat center center;
}
.purchase-details-new .product-quantity-box.purchase-details__quantity input.quantity {
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 1.4;
    min-height: 52px;
    margin-bottom: 0;
    width: calc(100% - 105px);
  	border: none;
/*   	font-family: AvertaCY; */
	font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  	border: 1px solid #F4F4F4;
  	border-left: 0px;
  	border-right: 0px;
}
#shopify-section-product_template_new{
	padding-bottom: 120px;
}

.collection #shopify-section-collection-template .container-banner {
    max-width: 100%;
    width: 100%;
}
.collection #shopify-section-banner .home_slider {
    width: 100%;
  	overflow: hidden;
  	max-width: 1400px;
  	margin: 0 auto;
}
.collection #shopify-section-banner #image-slider {
    width: 100%;

}
.collection .shopify-product-form {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.purchase-details, .div-with-variants {
    margin-left: auto;
}
/* end product css */


/* custom page free */
.page-2product1free .product_gallery.flickity-enabled {

    margin-bottom: 0;
}

.page-2product1free .one-half h3{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 20px;
  	text-transform: capitalize;
  	font-size: 20px;
  	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page-2product1free .one-half.product__desc{
	padding-left: 65px;
}

.page-2product1free .flickity-prev-next-button.next, .page-2product1free .flickity-prev-next-button.previous {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
  	opacity: 1;
    outline: none;
  	transition: all 0.4s ease;
}
.page-2product1free .flickity-prev-next-button.next svg, .page-2product1free .flickity-prev-next-button.previous svg{
    display: none;
}

.page-2product1free .flickity-prev-next-button.previous {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78033 3.96967C9.07322 4.26256 9.07322 4.73744 8.78033 5.03033L5.56066 8.25H14.25C14.6642 8.25 15 8.58579 15 9C15 9.41421 14.6642 9.75 14.25 9.75H5.56066L8.78033 12.9697C9.07322 13.2626 9.07322 13.7374 8.78033 14.0303C8.48744 14.3232 8.01256 14.3232 7.71967 14.0303L3.21967 9.53033C2.92678 9.23744 2.92678 8.76256 3.21967 8.46967L7.71967 3.96967C8.01256 3.67678 8.48744 3.67678 8.78033 3.96967Z' fill='%232E3054'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: center;
}
.page-2product1free .flickity-prev-next-button.next {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.21967 3.96967C8.92678 4.26256 8.92678 4.73744 9.21967 5.03033L12.4393 8.25H3.75C3.33579 8.25 3 8.58579 3 9C3 9.41421 3.33579 9.75 3.75 9.75H12.4393L9.21967 12.9697C8.92678 13.2626 8.92678 13.7374 9.21967 14.0303C9.51256 14.3232 9.98744 14.3232 10.2803 14.0303L14.7803 9.53033C15.0732 9.23744 15.0732 8.76256 14.7803 8.46967L10.2803 3.96967C9.98744 3.67678 9.51256 3.67678 9.21967 3.96967Z' fill='%232E3054'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: center;
}
.page-2product1free .flickity-prev-next-button.previous {
    top: 50%;
    transform: translateY(-50.1%);
    padding: 10px 0;
    position: absolute;
    left: 25px;
  
}
.page-2product1free .flickity-prev-next-button.next {
    top: 50%;
    transform: translateY(-50.1%);
    padding: 10px 0;
    position: absolute;
    right: 25px;
   
}
.page-2product1free .page__productOption-url {
    display: flex;
    margin-left: 10px;
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #2E3054;
}
/* End custom page */

#error-label {
  position: absolute;
  text-align: center;
  width: auto;
  bottom: -23px;
  width: 100%;
}

#error-label p {
  color: #EF5241;
  line-height: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

#error-label p::before {
  content: url('error_circule.svg');
  margin-right: 2px;
}

.wrapOption3 {
  position: relative;
}

.error_input .select__form-product-radio {
  background: rgba(241, 111, 97, 0.02);
  border: 1px solid rgba(241, 111, 97, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
}

/* referal page */
.referal_page h1{
  	font-weight: 700;
  	margin-bottom: 20px;
  	text-transform: capitalize;
  	font-size: 48px;
  	display: flex;
}
.referal_page .feature_divider{
	display: block;
  	font-size: 16px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	max-width: 400px;
}
.referal_page-title{
	text-align: center;
  	display: flex;
    flex-wrap: wrap;
  	flex-direction: column;
    align-items: center;
    width: 100%;
}
.referal_page-content{
	display: flex;
    flex-wrap: wrap;
  	width: 100%;
  	padding: 100px 0;
}
.referal_page-content > div{
	width: 50%;
}

.referal_page-content input{
	border: 1px solid #E2E6ED;
  	border-radius: 6px;
  	font-size: 14px;
    font-weight: 600;
/*     font-family: AvertaCY; */
}

.referal_page-content input:focus{
	border: 1px solid #3AB8F1;
}

.referal_page-content label p{
	color: #7F8F9E;
}
.referal_page-content label p i{
	color: #E45123
}
/* end referal page*/

/* .our-pledge */

.our-pledge{
	padding: 50px 0 0;
}

.faq-banners{
	display: flex;
    flex-wrap: wrap;
  	justify-content: space-around;
  	padding: 130px 0;
}
.faq-banners-item {
    max-width: 350px;
  	text-align: center;
  	border: 1px solid #DDE9F3;
  	padding: 30px;
}
.faq-banners-title{
  	padding: 20px 0;
	font-size: 20px;
    font-weight: 600;
/*     font-family: AvertaCY; */
}
.faq-banners-text{
	font-size: 16px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	color: #7F8F9E;
}

.eco_friend{
	padding-top: 110px;
  	background: #F7F9FC;
}
.eco_friend h2{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  margin-bottom: 0px;
  	text-transform: capitalize;
  	font-size: 48px;
  	text-align: center;
}
.eco_friend-wrapp{
	text-align: center;
}
.eco_friend-wrapp p strong{
	color: #71C5E8;
}
.eco_frend-img{
	position: relative;
  	display: inline-block;
    padding-top: 100px;
}
.eco_frend-absolute{
	position: absolute;
  	max-width: 260px;
}
.eco_frend-leftText{
    left: -235px;
    top: 48%;
    z-index: 1;
}
.eco_frend-leftText::after{
	content: url(left_line_ab.png);
  	position: absolute;
    top: -75px;
}
.eco_frend-rightTopText{
	 right: -230px;
     top: 38%;
}
.eco_frend-rightTopText::after{
	content: url(right_line_ab1.png);
  	position: absolute;
    top: -25px;
    left: -165px;
}
.eco_frend-rightBotText{
	right: -215px;
    top: 73%;
}
.eco_frend-rightBotText::after{
	content: url(right_line_ab2.png);
  	position: absolute;
    top: -35px;
    left: -165px;
}
.our_content-section {
    border-bottom: 0px solid rgb(127 143 158 / 20%);
}
.our_content-section{
	padding: 120px 0;
}
.our_content-section h3{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	margin-bottom: 40px;
  	text-transform: capitalize;
  	font-size: 34px;
  	text-align: left;
}
.our_content-section p{
	font-size: 16px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	color: #7F8F9E;
}
.our_content-row {
    display: flex;
    flex-wrap: wrap;
  	align-items: center;
}
.our_content-row:nth-child(even){
	flex-direction: row-reverse;
}
.our_content-row > div{
	width: 50%;
}
.recicle_step{
	color: #77D3AF;
  	font-size: 16px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	text-transform: uppercase;
  	margin-bottom: 20px;
    text-align: left;
}
/* end .our-pledge */

#shopify-section-banner .new_banner_div_caption span {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
  	color: #2E3054;
}

#shopify-section-collection-template .thumbnail .product-details .price {
/*     font-family: AvertaCY; */
}

/* contactus_page */

.contactus_page h5{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 600;
  	font-size: 20px;
 	color: #3AB8F1;
}

.contactus_page form#contact_form {
    max-width: 415px;
}
.contactus_page .referal_page-contenRight{
	padding-left: 5%;
}
/* end contactus_page */

/* page new_policy*/

.new_policy h1{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 600;
  	font-size: 48px;
  	color: #2E3054;
  	text-transform: capitalize;
  	margin-bottom: 60px;
}
.policy__content-item .policy__conten-title{
	color: #2E3054;
  	font-size: 26px;
    font-weight: 600;
/*     font-family: AvertaCY; */
  	margin-bottom: 15px;
}
.policy__conten-title br{
	display: block !important;
  	height: 5px !important;
}
.policy__content-item{
	margin-bottom: 40px;
}
.policy__content-item .policy__conten-text{
	font-size: 16px;
    font-weight: 400;
/*     font-family: AvertaCY; */
  	color: #7F8F9E;
}
.policy__content-item .policy__conten-text p{
	margin-bottom: 15px;
}
.policy__content-item .policy__conten-text p:last-child{
	margin: 0;
}
/* end page new_policy*/

.header a.mini_cart_new{
	position: relative;
    min-width: 160px;
    display: flex;
    flex-wrap: wrap;
    color: #fff !important;
    background: #3ab8f1;
    border-radius: 6px;
    font-size: 18px !important;
    font-weight: 700 !important;
/*     font-family: AvertaCY; */
    padding: 0 !important;
    height: 52px;
    align-items: center;
    justify-content: center;
}
.header a.mini_cart_new img{
	margin-right: 5px;
}
.header a.mini_cart_new .cart_count{
	    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px;
  	color: #3ab8f1;
    background: #fff;
    border-radius: 3px;
    height: 18px;
    min-width: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 0;
    justify-content: center;
  	font-size: 14px;
    font-weight: 400;
/*     font-family: AvertaCY; */
}
.header a.mini_cart_new .cart_count.hidden{
	opacity: 0;
}
.header .btn__account-new{
 	min-width: 160px;
    height: 52px;
    display: flex;
    margin: 0 0 0 15px;
    padding: 0 44px 0 15px !important;
    position: relative;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    align-items: center;
}
.header .btn__account-new:after{
	content: url(li_treygol.svg);
  	position: absolute;
  	top: 50%;
    transform: translateY(-60%);
  	right: 15px;
}
.header .btn__account-new img{
	margin-right: 5px;
  	width: 20px;
  	height: 20px;
}

.wrapp__promo-link{
	display: flex;
    justify-content: space-between;
  	padding-bottom: 100px;
}

.wrapp__promo-link a{
	position: relative;
  	display: flex;
  	justify-content: center;
}

.wrapp__promo-link a span{
	top: 75%;
}


.wrapp__promo-link a span{
/* 	font-family: KlarheitKurrent; */
  	font-weight: 700;
  	font-size: 32px;
  	color: #2E3054;
  	border-bottom: 1px solid transparent;
  	display: inline-block;
  	padding-bottom: 5px;
  	position: absolute;
}
.wrapp__promo-link a:hover span {
    color: #3AB8F1;
  	border-bottom: 1px solid #3AB8F1;
}
.wrapp__promo-link img{
	max-width: 550px;
}
.cart_total{
	margin: 0;
}

.mega-menu .btn__arrowgreen{
	display: flex;
  	margin-top: 49px;
  	font-size: 14px;
}


.txt-rotate .wrap:after{
	content: '|';
  	display: inline-block;
  	animation: blink-caret 1s;
  	width: 2px;
  	font-weight: 200;
}

/* Contact Banner */

#shopify-section-contact-banner {
    background-color: #F2F8FF;
    background-size: contain;
    background-repeat: repeat;
  	min-height: 580px;
}

.banner_caption a {
  text-decoration: underline;
  color: #3AB8F1;
}

#shopify-section-contact-banner .banner_container {
    display: flex;
  	align-items: center;
  	width: 1110px;
  	margin: 0 auto;
}

#shopify-section-contact-banner .banner_caption {
    position: absolute;
    z-index: 100;
}

#shopify-section-contact-banner .banner_caption h1 {
/*   	font-family: KlarheitKurrent; */
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
}

#shopify-section-contact-banner .banner_caption p {
/*   	font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
}

#shopify-section-contact-banner .banner_image {
    min-height: 550px;
    max-width: 840px;
    width: 100%;
    margin-left: auto;
}

/*  Contact Main Page */

#shopify-section-contact-banner  form#contact_form .form-actions, input[type="email"] {
    height: 44px;
    min-height: 44px;
}
  
/* Police New Page */

.section.new_policy .column {
  margin: 0;
}

/* Referal Page */

.referal_page-content {
    padding: 80px 0;
}

.referal_form {
  	width: 384px;
}

.referal_form label {
  	margin-bottom: 16px;
}

.referal_form label.last {
  	margin-bottom: 24px;
}

.referal_form p {
  	margin-bottom: 8px;
}

.referal_form__checkbox {
  	display: inline-flex;
  	margin-bottom: 16px;
}

.referal_form__checkbox.last {
  	margin-bottom: 32px;
}

.referal_form__checkbox input {
  	align-self: baseline;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.referal_form__checkbox label {
  	margin-bottom: 0!important;
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #7F8F9E;
  	max-width: 358px;
}

.referal_form__checkbox a {
  	color: inherit;
  	text-decoration: underline;
}

.description-acc {
  display: none;
}

.page-2product1free .title-accordion {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.page-2product1free .description-acc {
  display: block;
/*   font-family: AvertaCY; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 0;
}

#shopify-section-collection-template .coll_img_info {
    background: #D1E5F8;
}

/* Header */

/* body {
  margin-top: 159px;
} */

#sticky-header {
  transition: top 0.5s;
  top: 0px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#sticky-header.sticky {
  position: fixed;
  top: -38px!important;
  width: 100%;
  background-color: white;
  box-shadow: 0px 12px 20px rgba(61, 90, 124, 0.08);
}

.sticky-header-mobile {
  display: none;
}

#bundle_mega_menu_main .left_side {
    width: 23.4%;
    max-width: 264px;
}

#bundle_mega_menu_main .right_side {
    width: 76.6%;
    max-width: 864px;
}

#shop_mega_menu_main .image_cover, #bundle_mega_menu_main .image_cover,
#shop_mega_menu_main .image_cover img, #bundle_mega_menu_main .image_cover img{
    width: 264px;
    object-fit: cover;
}


 


@media  (max-width:1480px){
  body .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows{
  	width: 20%!important;
    left: 0!important;
    right: 0 !important;
    top: 850% !important;
    margin: 0 auto !important;
  }
  
}

@media only screen and (max-width:1045px) {
  #bundle_mega_menu_main .left_side {
    width: 22%;
  }

  #bundle_mega_menu_main .right_side {
    width: 78%;
  }
}

/* Yotpo reviews */
.yotpo .star-clickable {
  height: 20px;
}

.yotpo .star-clickable .text-m {
  text-decoration: underline !important;
  line-height:20px;
}

.yotpo .star-clickable .yotpo-stars {
  margin-right: 12px;
}

html body #slidecarthq, html body #slidecarthq *{
/* 	font-family: AvertaCY !important; */
}

.column-collection {
  	margin-bottom: 50px!important;
}

@media only screen and (max-width:1024px) {	
  .img_included.accordion-content {
    flex-wrap: wrap;
    padding-right: 0px;
    width: 305px;
    padding-left: 15px!important;
    padding-right: 0!important;
  }
  .inc_imgs {
    width: 100%;
    height: 60px;
    margin-right: 0!important;
    display: flex;
    text-align: start;
    align-items: center;
    box-sizing: border-box;
  }
  .inc_imgs img {
    width: 60px;
    height: 60px;
    background: #F7F9FC;
    border-radius: 50%;
  }
  .inc_imgs p {
    margin-left: 16px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    font-size: 14px !important;
  }
  .inc_imgs:not(:last-child) {
    margin-bottom: 16px;
  }
  .plasticProblem-item{
      flex-wrap: wrap;
  }
  #shopify-section-banner .home_slider {
    max-width: 320px;
  }
  .select__form-product-radio .select__form-product-radio-left {
    margin-right: 4px;
  }
  .column-collection {
      margin-bottom: 32px!important;
  }
  
  .container > .column	{
      width: 290px!important;
      margin: 0 auto!important;
  }
  
  .container-banner {
    	margin: auto;
  }

  body {
    margin-top: 104px;
  }
  
  .mobile-dropdown .mobile-dropdown-toggler {
    font-size: 14px!important;
    font-style: normal;
    color: #2E3054;
    letter-spacing: .04em;
    font-weight: 500;
    pointer-events: all !important;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 20px;
  }
  
  .mobile-dropdown .mobile-dropdown-toggler span.icon-down-arrow {
    rotate: -90deg;
    transition: rotate 0.2s;
  }
  
  .mobile-dropdown .mobile-dropdown-toggler.active {
    color: #3ab8f1;
  }
  
  .mobile-dropdown .mobile-dropdown-toggler.active span.icon-down-arrow {
    rotate: 0deg;
    color: #3ab8f1;
  }
  
  .mobile-dropdown .mobile-dropdown-content {
    margin: 0;
    margin-bottom: 20px;
    padding: 0px;
  }
  
  .mobile-dropdown .mobile-dropdown-content a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px!important;
    line-height: 16px;
    padding: 0px;
    color: #2E3054;
  }
  
  .mobile-dropdown .mobile-dropdown-content a .prod-divider {
    width: 1px;
    height: 16px;
    display: inline-block;
    font-size: 34px;
    background-color: #2E3054;
    margin: 0 8px;
    padding: 0;
  }
  
  .mobile-dropdown .mobile-dropdown-content a .mobile-dropdown-main-link {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #2E3054;
    padding: 0px;
  }
  
  .mobile-dropdown .mobile-dropdown-content a .mobile-dropdown-main-link::after {
    content: url(Arrow__Right.svg);
    top: 4px;
    position: relative;
    right: -8px;
  }
  
  .mobile-dropdown .mobile-dropdown-content li {
    margin-bottom: 16px;
  }
  
  .mobile-dropdown .mobile-dropdown-content li:last-child {
    margin-bottom: 0px;
  }
  
  .mobile-menu-link a {
    font-size: 14px!important;
    font-style: normal;
    color: #2E3054;
    letter-spacing: .04em;
    font-weight: 500;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .menu li a[href] {
    font-size: 14px;
    font-style: normal;
    color: #2E3054;
    letter-spacing: .04em;
    font-weight: 500;
  }
  
  #mobile_menu.menu #customer_login_link {
    padding: 0;
  }
  
  /* Header */
  .sticky-header-mobile {
    transition: top 0.5s;
    top: 0px;
    position: absolute;
    width: 100%;
    z-index: 1000;
  	background-color: white;
  }
  
  .sticky-header-mobile.sticky {
  	position: fixed;
    top: -36px!important;
    box-shadow: 0px 8px 16px rgba(61, 90, 124, 0.08);
  }
  
  /* Bundles */
  
  .page-2product1free .page__productOption-url {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 12px;
    text-decoration: underline;
  }
  
  .page-2product1free .one-half h3 {
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .page-2product1free .page__productOption-wrapp {
    margin-bottom: 20px;
  }
  
  .page-2product1free .product .select__form-product {
    margin-bottom: 0px !important;
  }
  
  .page-2product1free .select__form-product label {
    margin-bottom: 0px !important;
  }
  
  .page-2product1free hr {
    color: #F4F4F4;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
    border-width: 0;
    height: 1px;
  }
  
  #shopify-section-page-product_template_new {
    padding-bottom: 60px;
  }
  
  .wrapOption3 {
    margin-bottom: 32px!important;
  }
  
  .page-2product1free .section_faq .accordion {
    width: 290px !important;
    margin: 0 auto !important;
  }
  
  .page-2product1free .section_faq {
    margin: 80px 0;
  }
  
  .page-2product1free .product__desc form {
    border-top: 1px solid #F4F4F4;
    padding-top: 20px;
  }
  
  .page-2product1free .sticky-panel {
    position: fixed;
    bottom: -70px;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
  	transition: bottom 0.5s;
  }
  
  .page-2product1free .sticky-panel.sticky {
    bottom: 0px;
  }
  
  .page-2product1free .sticky-panel .sticky-button {
    width: 100%;
    max-width: 290px;
    margin-bottom: 15px;
    padding: 16px;
    font-size: 12px;
    line-height: 20px;
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: #2E3054;
    border-radius: 4px;
    color: #FFFFFF;
  }
  
  /* Contact Banner */
  
  #shopify-section-contact-banner {
    min-height: auto;
    padding: 20px 0 52px;
  }
  #shopify-section-contact-banner .banner_container {
    width: 320px;
    flex-wrap: wrap-reverse;
  }
  #shopify-section-contact-banner .banner_caption {
    width: auto;
    margin: 0 15px;
    text-align: center;
    position: initial;
  }
  #shopify-section-contact-banner .banner_caption h1 {
    padding: 0;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 40px;
  }
  #shopify-section-contact-banner .banner_caption p {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }
  #shopify-section-contact-banner .banner_caption p br {
    display: none;
  }
  #shopify-section-contact-banner .banner_image {
    height: auto;
    margin-bottom: 32px;
    min-height: 320px;
  }
  #shopify-section-contact-banner img {
    width: auto;
    height: 320px;
  }
  
  /*  Contact Main Page */
  
  #shopify-section-contact-main-content .referal_page-content {
    flex-wrap: wrap;
    padding: 60px 0 80px!important;
    width: 290px;
    margin: 0 auto;
  }
  
  #shopify-section-contact-main-content .referal_page-content > div {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  
  #shopify-section-contact-main-content .referal_page-contenLeft h5 {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 12px;
  }
  
  #shopify-section-contact-main-content .referal_page-contenLeft p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  
  #shopify-section-contact-main-content .referal_page-contenRight h5 {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 12px;
  }
  
  #shopify-section-contact-main-content .referal_page-contenRight #contact_form {
    margin: 0;
  }
  
  #shopify-section-contact-main-content .contact-form label {
    margin-bottom: 16px;
  }
  
  #shopify-section-contact-main-content .contact-form label:last-child {
    margin-bottom: 20px;
  }
  
  #shopify-section-contact-main-content .contact-form p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  /* Police New Page */
  
  section.new_policy .container {
    width: 320px;
  }
  
  #shopify-section-page_policynew, .section.new_policy .column {
    margin: 0 15px;
  }
  
  .new_policy h1 {
    margin-bottom: 32px;
  }
  
  .policy__content-item {
    margin-bottom: 24px;
    line-height: 20px;
  }
  
  .policy__content-item .policy__conten-title {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 27px;
  }
  
  .policy__content-item .policy__conten-text {
    font-size: 12px;
  }

  /* Referal Page */

  .referal_page {
    width: 320px;
  }
  
  .referal_page-title{
    margin: 0 15px;
  }
  
  .referal_page h1{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  
  .referal_page .feature_divider {
    margin-bottom: 0!important;
    font-size: 14px;
  }
  
  .referal_page .feature_divider .one-whole {
    width: 100%;
  }
  
  .referal_page-content {
    width: 290px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    padding: 50px 0 45px;
  }
  
  .referal_page-content > div {
    width: 100%;
  }
  
  .referal_page-content form#contact_form {
    max-width: 290px;
  }

  .referal_form {
    max-width: 290px;
  }
  
  .referal_form label {
      margin-bottom: 16px;
  }
  
  .referal_form label.last {
      margin-bottom: 20px;
  }

  .referal_form p {
      margin-bottom: 8px;
  }
  
  .referal_page-content input {
    font-size: 12px;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
  }

  .referal_form__checkbox {
      display: inline-flex;
      margin-bottom: 16px;
  }
  
  .referal_form__checkbox.last {
      margin-bottom: 28px;
  }

  .referal_form__checkbox input {
      width: 16px;
      height: 24px;
      min-height: 24px;
  }
  
  .referal_page-contenLeft {
  	  margin-top: 60px;
  }

  .referal_form__checkbox label {
      max-width: 266px;
      font-size: 10px;
      line-height: 16px;
  }

  .referal_form__checkbox a {
      color: inherit;
      text-decoration: underline;
  }
  
  .green__btn_cart {
      font-size: 12px;
      line-height: 20px;
      height: 48px;
  
  }
}

.product-list .product-wrap .hover_plus{
	display: none !important;
}



@keyframes blink-caret {
  from,
  to {
    opacity: 0.2
  }
  50% {
    opacity: 1
  }
}


.section_myslider_new .branding a {
  display: none!important;
}

.swiper-arrows-custom .slider-arrow {
  height: 64px !important;
  width: 64px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid #2e3054 !important;
  box-sizing: border-box !important;
  border-radius: 50px !important;
  color: #2e3054 !important;
  font-size: 12px !important;
  transition: all .3s ;
}

.swiper-arrows-custom .slider-arrow:hover {
  height: 64px !important;
  width: 64px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid #2e3054 !important;
  box-sizing: border-box !important;
  border-radius: 50px !important;
  color: #fff !important;
  background-color: #2e3054 !important;
  font-size: 12px !important;
}


.swiper-arrows-custom {
  float: right !important;
  margin-left: 0px !important;
  position: absolute !important;
  width: 120% !important;
  display: flex !important;
  justify-content: space-between !important;
  left: -10% !important;
  top: 250% !important;
}

.section_myslider_new{
  background: #2E3054;
  padding: 100px 0 100px; 
}

.swatch .swatch-element.soldout .crossed-sold_out{
  	display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}
.crossed-out.crossed-sold_out{
	background-image: none;
/*   	font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2E3054;
}

.product_gallery_nav {
    overflow: visible;
}

.product_gallery_nav .flickity-prev-next-button{
	background: transparent;
  	outline: none; 
}
.product_gallery_nav .flickity-prev-next-button.next {
    right: -35px;
}
.product_gallery_nav .flickity-prev-next-button.previous {
    left: -35px; 
}
.product_gallery_nav .flickity-prev-next-button:active, .flickity-prev-next-button:hover{
	opacity: 1;
}

.product_gallery_nav .flickity-button-icon .arrow {
  fill: #7F8F9E;
  opacity: 1;
}

.notify_form.notify_formNew{
	    display: none;
}
@media only screen and (max-width:1024px) {	
  .img_included.accordion-content {
    flex-wrap: wrap;
    padding-right: 0px;
    width: 305px;
    padding-left: 0px!important;
  }
  .inc_imgs {
    width: 100%;
    height: 60px;
    margin-right: 0!important;
    display: flex;
    text-align: start;
    align-items: center;
    box-sizing: border-box;
  }
  .inc_imgs img {
    width: 60px;
    height: 60px;
    background: #F7F9FC;
    border-radius: 50%;
  }
  .inc_imgs p {
    margin-left: 16px!important;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    font-size: 14px !important;
  }
  .inc_imgs:not(:last-child) {
    margin-bottom: 16px;
  }
  .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows {
    display: none!important;
  }
  .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .single-carousel {
    width: 312px;
    margin-right: 10px !important;
  }
  .yotpo-reviews-carousel .carousel-display-wrapper .scroller {
    overflow: hidden;
    height: auto;
    margin-left: -5%;
  }
  .crossed-out.crossed-sold_out{
      font-size: 8px;
    }
  
  .gallery-wrap .product_gallery .flickity-page-dots {
    bottom: -25px;
  }
  .gallery-wrap .product_gallery{
  	overflow: visible;
    margin-bottom: 50px;
  }
  .gallery-wrap .product-gallery__thumbnails{
  	display: none;
  }
  .gallery-wrap .flickity-page-dots .dot{
  	width: 8px;
    height: 8px;
    margin: 0 3px;
  }
  .gallery-wrap .transparentBackground--false .dot{
  	border: 2px solid transparent;
  }
  .gallery-wrap .flickity-page-dots .dot.is-selected {
      opacity: 1;
      border: 2px solid #77D3AF;
      background: transparent;
  }
  .gallery-wrap .product_gallery .gallery-cell{
  	width: 80%;
  }
}