<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="nofollow">
  <meta name="googlebot" content="noindex">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    window.location.href = '/';
  </script>
  <title>Document</title>
</head>

<body>
</body>

</html>